body{
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: #55595c;
}

/* .foter{
    position: static;
    bottom: 0px;
}
.arrow{
    position: absolute;
    bottom: -205px;
    right: 15px;
} */
