{% extends 'base.html' %}

{% block head%}
<title>Home Page</title>
{%endblock%}

{% block body %}
<main class="container text-white">
    <div class="p-4 p-md-5 my-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ TopPosts[0][0][2] }} - {{ TopPosts[1][0] }}</h1>
            <div class="mb-1 text-muted">{{ TopPosts[0][0][5] }}</div>
            <p class="lead mb-0"><a href="/Post/{{TopPosts[0][0]}}" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div
                class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-dark">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Featured</strong>
                    <h3 class="mb-0">{{ TopPosts[0][1][2] }}</h3>
                    <div class="mb-1 text-muted">{{ TopPosts[0][1][5] }}</div>
                    <p class="card-text mb-auto">{{ TopPosts[1][1] }}</p>
                    <a href="/Post/{{ TopPosts[0][1][0] }}">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{TopPosts[0][1][6]}}" class="rounded" alt="{{ TopPosts[0][1][2] }}" width="200" height="250">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative, bg-dark">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Popular</strong>
                    <h3 class="mb-0">{{ TopPosts[0][2][2] }}</h3>
                    <div class="mb-1 text-muted">{{ TopPosts[0][2][5] }}</div>
                    <p class="mb-auto">{{ TopPosts[1][2] }}</p>
                    <a href="/Post/{{ TopPosts[0][2][0] }}">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{TopPosts[0][2][6]}}" class="rounded" alt="{{ TopPosts[0][2][2] }}" width="200" height="250">
                </div>
            </div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                From Blogster
            </h3>

            <article class="blog-post">
                <h2 class="blog-post-title">blog post</h2>
                <p class="blog-post-meta">January 1, 2023 by <a href="">Mark</a></p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus temporibus atque, ipsum
                    accusamus ipsa enim!</p>
                <hr>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it
                    often to keep the demonstration flowing, so be on the lookout for this exact same string of
                    text.</p>
                <h2>Lorem, ipsum.</h2>
                <p>This is an example blockquote in action:</p>
                <blockquote class="blockquote">
                    <p>Lorem ipsum dolor sit amet.</p>
                </blockquote>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sequi quasi nostrum soluta
                    expedita illo reiciendis inventore voluptatibus ducimus accusantium culpa, tempore autem. Dolore
                    dolores omnis ut labore, sit eum?</p>
                <h3>Example lists</h3>
                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                    other highly repetitive body text used throughout. This is an example unordered list:</p>
                <ul>
                    <li>First list item</li>
                    <li>Second list item with a longer description</li>
                    <li>Third list item to close it out</li>
                </ul>
                <p>And this is an ordered list:</p>
                <ol>
                    <li>First list item</li>
                    <li>Second list item with a longer description</li>
                    <li>Third list item to close it out</li>
                </ol>
                <p>And this is a definiton list:</p>
                <dl>
                    <dt>HyperText Markup Language (HTML)</dt>
                    <dd>The language used to describe and define the content of a Web page</dd>
                    <dt>Cascading Style Sheets (CSS)</dt>
                    <dd>Used to describe the appearance of Web content</dd>
                    <dt>JavaScript (JS)</dt>
                    <dd>The programming language used to build advanced Web sites and applications</dd>
                </dl>
                <p>Most of these elements are styled by browsers with few modifications on our part.</p>
                <h2>Heading</h2>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it
                    often to keep the demonstration flowing, so be on the lookout for this exact same string of
                    text.</p>
                <h3>Sub-heading</h3>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it
                    often to keep the demonstration flowing, so be on the lookout for this exact same string of
                    text.</p>
                <pre><code>Example code block</code></pre>
                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                    other highly repetitive body text used throughout.</p>
            </article>

            <article class="blog-post">
                <h2 class="blog-post-title">Another blog post</h2>
                <p class="blog-post-meta">December 23, 2023 by <a href="">Ali Aloka</a></p>

                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it
                    often to keep the demonstration flowing, so be on the lookout for this exact same string of
                    text.</p>
                <blockquote>
                    <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.
                    </p>
                </blockquote>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it
                    often to keep the demonstration flowing, so be on the lookout for this exact same string of
                    text.</p>
                <article class="blog-post">
                    <h2 class="blog-post-title">New blog!</h2>
                    <p class="blog-post-meta">December 14, 2023 by <a href="">Chris</a></p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa asperiores quae
                        quidem assumenda incidunt sit. Eaque sequi adipisci saepe?</p>
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem, ipsum.</li>
                    </ul>
                    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the
                        other highly repetitive body text used throughout.</p>
                </article>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">About us</h4>
                    <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos
                        exercitationem illum dolorum repellendus ea consectetur, ex iure soluta sint asperiores.</p>
                </div>

                <div>
                    <h4 class="fst-italic">Recent Blogs</h4>
                    <ul class="list-unstyled">
                        {% for post in RecentPosts %}
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                href="/Post/{{ post[0] }}">
                                <img src="{{ post[6] }}" alt="Cleaners YOU should mix." class="rounded"
                                    width="100%" height="96">
                                <div class="col-lg-8">
                                    <h6 class="mb-0">{{ post[2] }}</h6>
                                    <small class="text-body-secondary">{{ post[5] }}</small>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Archive</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="/Posts/2024/January">January 2024</a></li>
                        <li><a href="/Posts/2024/February">February 2024</a></li>
                        <li><a href="/Posts/2024/March">March 2024</a></li>
                        <li><a href="/Posts/2024/April">April 2024</a></li>
                        <li><a href="/Posts/2024/May">May 2024</a></li>
                        <li><a href="/Posts/2024/June">June 2024</a></li>
                        <li><a href="/Posts/2024/July">July 2024</a></li>
                        <li><a href="/Posts/2024/August">August 2024</a></li>
                        <li><a href="/Posts/2024/Septemper">Septemper 2024</a></li>
                        <li><a href="/Posts/2024/October">October 2024</a></li>
                        <li><a href="/Posts/2024/November">November 2024</a></li>
                        <li><a href="/Posts/2024/December">December 2024</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Reach us</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</main>
{%endblock%}