{% extends 'base.html' %}

{% block head %}
<title>{{Post['Post'][2]}}</title>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article class="text-white">
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{Post['Post'][2]}}</h1>
                    <div class="text-muted fst-italic mb-2">{{Post['Post'][5]}}</div>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Tag1</a>
                </header>
                <figure class="mb-4"><img class="img-fluid rounded" style="max-width: 600px; max-height: 600;" src="{{Post['Post'][6]}}" alt="{{Post['Post'][2]}}" />
                </figure>
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{Post['Post'][1]}}</p>
                </section>
            </article>
            <section class="mb-5 bg-dark p-2">
                {% if LoggedIn %}
                    {% if Post['Liked'] %}
                        {% set class = 'btn-secondary' %}
                        {% set text = 'Dislike' %}
                    {% else %}
                        {% set class = 'btn-primary' %}
                        {% set text = 'Like' %}
                    {% endif %}
                    <button class="btn me-3 {{ class }} LikeButton" type="submit" value="{{ Post['Post'][0] }}" id="post_id:{{Post['Post'][0]}}">{{ text }}</button>
                {% endif %}
                <small class="align-middle d-inline-block text-muted">
                    <strong id="postlikes_{{Post['Post'][0]}}">{{ Post['Post'][4] }}</strong> Likes</small>
                    <small class="align-middle d-inline-block text-muted ml-3">
                        <strong>{{ numComments }}</strong> Comments
                </small>
                {% if LoggedIn %}
                <form action="/AddPostComment/{{ Post['Post'][0] }}" method="POST" class="mt-3">
                    <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"
                    id="comment_sect" name="comment_sect"></textarea>
                    <button class="btn mt-3 me-2 btn-primary" id="submit_btn" name="{{ Post['Post'][0] }}">Comment</button>
                    <button class="btn mt-3 btn-danger" id="discard_btn">Discard</button>
                </form>
                {% endif %}
                {% for comment in Post['Comments'] %}
                <div class="d-flex my-4">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                        alt="..." /></div>
                    <div class="ms-3">
                    <div class="fw-bold text-light">{{ getUserName(comment[2]) }}</div>
                    <div class="text-light ms-2">{{comment[1]}}</div>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                            aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Other Blogs</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="">SideTitle1</a></li>
                                <li><a href="">SideTitle2</a></li>
                                <li><a href="">SideTitle3</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="">SideTitle3</a></li>
                                <li><a href="">SideTitle4</a></li>
                                <li><a href="">SideTitle5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}