{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/postPage.css')}}">
{% endblock %}

{% block body %}
<div class="container posts-content">
  <div class="row">
      {% if not comments %}
      {% for Post in Posts %}
      <div class="col-lg-12">
          <div class="card mb-4 bg-dark" style="width: auto; max-width: 800px; margin: auto;">
            <div class="card-body">
              <div class="media mb-3">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 rounded-circle" alt="">
                <div class="media-body ml-3 text-light">
                  Kenneth Frazier
                  <div class="text-muted small">3 days ago</div>
                </div>
              </div>
          
              <p class="text-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus commodo bibendum. Vivamus laoreet blandit odio, vel finibus quam dictum ut.
              </p>
              <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar1.png');"></a>
            </div>

            <div class="card-footer">
              <a href="javascript:void(0)" class="d-inline-block text-muted">
                <small class="align-middle">
                  <strong>123</strong> Likes</small>
              </a>
              <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                <small class="align-middle">
                  <strong>12</strong> Comments</small>
              </a>
            </div>
          </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-lg-12">
        <div class="card mb-4 bg-dark" style="width: auto; max-width: 800px; margin: auto;">
          <div class="card-body">
            <div class="media mb-3">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 rounded-circle" alt="">
              <div class="media-body ml-3 text-light">
                Kenneth Frazier
                <div class="text-muted small">3 days ago</div>
              </div>
            </div>
        
            <p class="text-light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus commodo bibendum. Vivamus laoreet blandit odio, vel finibus quam dictum ut.
            </p>
            <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar1.png');"></a>
          </div>

          <div class="card-footer">
            <a href="javascript:void(0)" class="d-inline-block text-muted">
              <small class="align-middle">
                <strong>123</strong> Likes</small>
            </a>
            <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
              <small class="align-middle">
                <strong>12</strong> Comments</small>
            </a>
            {% for comment in comments[idx:10] %}
            <div class="d-flex mt-4">
              <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
              <div class="ms-3">
                  <div class="fw-bold text-light">{{ comment[1] }}</div>
                  <div class="text-light ms-2">{{comment[0][0]}}</div>
              </div>
            </div>
            {% endfor %}       
          </div>
        </div>
      </div>
      {% endif %}
      
  </div>
</div>
{% endblock %}
