{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/postPage.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<title>Posts</title>
{% endblock %}

{% block body %}
<div class="container posts-content">
  <div class="row">
      {% if not comments %}
      {% for Post in Posts %}
      {% set image_url = Post['Posts'][6] %}
      <div class="col-lg-12">
          <div class="card mb-4 bg-dark" style="width: auto; max-width: 800px; margin: auto;">
            <div class="card-body">
              <div class="media mb-3">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 rounded-circle" alt="">
                <div class="media-body ml-3 text-light">
                  {{ Post['Usernames'][0] }}
                  <div class="text-muted small">{{ Post['Posts'][5] }}</div>
                </div>
              </div>
          
              <p class="text-light">
                {{ Post['Posts'][2] }}
              </p>
              <a href="/Post/{{ Post['Posts'][0] }}" class="ui-rect ui-bg-cover" style="background-image: url('{{image_url}}');"></a>
            </div>

            <div class="card-footer">
              {% if LoggedIn %}
              <button class="btn btn-primary me-3 LikeButton" type="submit" value="{{ Post['Posts'][0] }}" id="post_id:{{Post['Posts'][0]}}">Like</button>
              {% endif %}
              <a href="" class="d-inline-block text-muted">
                <small class="align-middle">
                <strong>{{ Post['Posts'][4] }}</strong> Likes</small>
              </a>
              <a href="/Posts/{{ Post['Posts'][0] }}" class="d-inline-block text-muted ml-3">
                <small class="align-middle">
                  <strong>{{ Post['Comments'][0] }}</strong> Comments</small>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          {% set image_url = Post['Post'][6] %}
          <div class="col-lg-12">
            <div class="card mb-4 bg-dark" style="width: auto; max-width: 800px; margin: auto;">
              <div class="card-body">
                <div class="media mb-3">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 rounded-circle" alt="">
                  <div class="media-body ml-3 text-light">
                    {{ Post['Username'][0] }}
                    <div class="text-muted small">{{ Post['Post'][5] }}</div>
                  </div>
                </div>
                
                <p class="text-light">
                  {{ Post['Post'][2] }}
                </p>
                <a href="/Post/{{ Post['Post'][0] }}" class="ui-rect ui-bg-cover" style="background-image: url('{{image_url}}');"></a>
              </div>
              
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted">
                  <small class="align-middle">
                    <strong>{{ Post['Post'][4] }}</strong> Likes</small>
                  </a>
                  <a href="/Posts/{{ Post['Post'][0] }}" class="d-inline-block text-muted ml-3">
                    <small class="align-middle">
                <strong>{{ numComments }}</strong> Comments</small>
              </a>
              {% for comment in comments %}
              <div class="d-flex mt-4">
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                  <div class="fw-bold text-light">{{ comment[1] }}</div>
                  <div class="text-light ms-2">{{comment[0][0]}}</div>
                </div>
              </div>
              {% endfor %}       
            </div>
          </div>
      </div>
      {% endif %}
      
    </div>
  </div>
  {% endblock %}
  