{% extends 'base.html' %}
{% block head %}
<title>Profile</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/profile_page.css')}}">
{% endblock %}

{% block body %}
<div class="container" id="details">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body bg-dark">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 class="text-white">{{ Userdata[1] }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if not Edit %}
            <div class="col-md-8">
                <div class="card mb-3 bg-dark">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3 text-white">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-9 text-light">
                                {{ Userdata[1] }}
                            </div>
                        </div>
                        <hr class="text-light">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-light">Email</h6>
                            </div>
                            <div class="col-sm-9 text-light">
                                {{ Userdata[4] }}
                            </div>
                        </div>
                        <hr class="text-light">
                        <div class="row">
                            <div class="col-sm-3 text-light">
                                <h6 class="mb-0">Password</h6>
                            </div>
                            <div class="col-sm-9 text-light">
                                {{ Userdata[2] }}
                            </div>
                        </div>
                        <hr class="text-light">
                        <div class="row">
                            <div class="col-sm-3 text-light">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-white">
                                {{ Userdata[3] }}
                            </div>
                        </div>
                        <hr class="text-light">
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="_self" href="/Profile/{{ Userdata[0] }}">Edit</a>
                                <a class="btn btn-danger" target="_self" href="/Logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mx-auto">
                <div class="card mb-3 bg-dark">
                    <div class="card-body" >
                        {% for post in UserPosts %}
                        <div class="row">
                            <div class="col-sm-3 text-white">
                                <span class="mb-0">{{post['Posts'][0]}}   </span>
                                <img src="{{post['Posts'][6]}}" style="width: 6vw; height: 5vh;" class="rounded">
                            </div>
                            <div class="col-sm-3">
                                <a href="/Post/{{post['Posts'][0]}}" class="text-light">{{ post['Posts'][2] }}</a>
                            </div>
                            <div class="col-sm-3 text-light">
                                {{ post['Posts'][4] }} Likes
                            </div>
                            <div class="col-sm-3 text-light">
                                {{ post['Comments'] }} Comments
                            </div>
                        </div>
                        <hr class="text-light">
                        {% endfor %}
                    </div>
                    <a href="/AddPost" class="mx-auto mb-3"><button class="btn btn-primary">Add Post</button></a>
                </div>
            </div>
            {% else %}
            <div class="col-md-8">
                <form action="/Profile" method="POST" class="card mb-3 bg-dark">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3 text-white">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-9 text-light">
                                <input type="text" class="form-control" id="Username" name="Username" value="{{ Userdata[1] }}">
                            </div>
                        </div>
                        <hr class="text-light">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-light">Email</h6>
                            </div>
                            <div class="col-sm-9 text-light">
                                <input type="text" class="form-control" id="Email" name="Email" value="{{ Userdata[4] }}">
                            </div>
                        </div>
                        <hr class="text-light">
                        <div class="row">
                            <div class="col-sm-3 text-light">
                                <h6 class="mb-0">Password</h6>
                            </div>
                            <div class="col-sm-9 text-light">
                                <input type="text" class="form-control" id="Password" name="Password" value="{{ Userdata[2] }}">
                            </div>
                        </div>
                        <hr class="text-light">
                        <div class="row">
                            <div class="col-sm-3 text-light">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-white">
                                <input type="text" class="form-control" id="Phone" name="Phone" value="{{ Userdata[3] }}">
                            </div>
                        </div>
                        <hr class="text-light">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
    